name: Release packages to NPM
on:
  workflow_run:
    workflows: ['Build and execute tests']
    branches: [master]
    types:
      - completed

permissions:
  id-token: write # Required for OIDC
  contents: read
jobs:
  on-success:
    name: Deploy packages to NPM
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: refs/heads/master
      - name: Use Node.js LTS
        uses: actions/setup-node@v2
        with:
          node-version: '24'
      - name: Install dependencies
        run: yarn install --immutable
      - name: Build
        run: yarn build
      - name: Publish to NPM with Yarn
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn workspaces foreach --all --no-private npm publish --tolerate-republish
